    /* kb a teljes weboldal részét állítja */
    body{
        margin: 0 ;
        padding: 0 ;
        cursor: auto;

    }
    
    /* a képernyő hátulja állításához szolgáló felület*/ 
    #screen{
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: green;
        cursor: url('cursor.png'), auto;


    }
    /* a weboldal szélén lévő kurzor feature működéséhez kell*/
    .edge-top,.edge-bottom,.edge-left,.edge-right{
        position: fixed;
        pointer-events: auto;
        z-index: 100;
    }
    /*a weboldal felső részén lévő kurzor feature állításához kell  */
    .edge-top{
        width: 100%;
        height: 4%;
        top: 0;
        left: 0;
        cursor: auto;
    }
    /*a weboldal alsó részén lévő kurzor feature állításához kell  */
    .edge-bottom{
        width: 100%;
        height: 6%;
        bottom: 0;
        left: 0;
        cursor: auto;
    }
    /*a weboldal bal oldalán lévő kurzor feature állításához kell  */
    .edge-left{
        width: 2.8%;
        height: 100%;
        top: 0;
        left: 0;
        cursor:auto;
    }
    /*a weboldal jobb oldalán lévő kurzor feature állításához kell  */
    .edge-right{
        width: 2.8%;
        height: 100%;
        top: 0;
        right: 0;
        cursor: auto;
    }

    /* a képernyő effect állításához szolgáló felület és a képernyő hiba csík effecteket működésére szolgál*/ 
    #scan, .scan-bar, .scan-bar2, .scan-bar3, .scan-bar4, .scan-bar5, .scan-bar6, .scan-bar7, .scan-bar8, .scan-bar9, .scan-bar10, .scan-bar11{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;

    }
    /* a képernyő széle állításához szolgáló  felület*/ 
    #bezel{
        opacity: 100% ;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
        box-shadow: 0.2vw 0.2vw 0.8vw rgb(1, 1, 1);  


    }
    /* hangyfoci effect beállítása */
    #static{
        width: 100%;
        position: fixed;
        opacity: 5%;
        height: 100%;
        pointer-events: none;
        left: 0;
        top: 0;
    }


    /* hogy ne lehessen interaktálni a képekkel és a szöveggel*/ /* lehet hogy működik maradjon így */
    .noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    }
    /* a képen belüli szöveg típusa és mérete*/ 
    #content{ 
        font-family: VT323;    
        padding: 3.2vw; /*vagy 5vw */
        font-size: 1.3vw; /*vagy 2vw */
        text-shadow: 2px 200px 500px black,5 5 20em black, 3 1 2em black;
        top: 10vh;
        left: 10vw;
    
    }
    /* a startup gomb testreszabása */ 
    #STARTUP{
        position: initial;
        box-shadow: 0 0 1cap rgb(49, 45, 45);
        background-color:rgb(252, 0, 0);
        border-radius: 20vw;
        margin: 7.7vw;
        margin-top: 0.1%;
        color: rgb(0, 0, 0);
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 0.7vw;
        padding-right: 0.7vw;
        font-size: 2cap;
        text-align: center;
        display: block;
        text-decoration: none;
        cursor: url('pointer_original.png'), auto
       

    }
    /* a please use fullscreen szöveg testreszabása */ 
    #pleaseUse{
        position: relative;
        mix-blend-mode: difference;
        color: #53ff03;
        left: 1.8%;
    }
    /* a welcome to szöveg testreszabása */ 
    #welcome{
        position: relative;
        left: 1.5%;
        mix-blend-mode: difference;
        color: #53ff03;
        font-size: 85px;
        bottom: 28px;
        margin-bottom: 5%;
       
    }
    /* a this is szöveg testreszabása */ 
    #titlei{
        position: relative;
        left: 150px;
        color: rgba(0, 255, 0, 0.411);
        mix-blend-mode: difference;
        font-weight: bold;
        
    }
    /* a today's news szöveg testreszabása */ /*átállítani fixedről relative-re*/
    #alGore{
        position: fixed;
        mix-blend-mode: difference;
        right: 3.3vw;
        bottom: 10vh;
        width: 50vw;
        color: rgba(0, 255, 0, 0.411);
        
        
        
    }
    /* az alsó dekorációs sáv testreszabása */ 
    #dec-top{
    top: 3vh;
    color: rgba(0, 255, 0, 0.411);
    font-family: VT323;
    position: fixed;
    left: 0vh;
    mix-blend-mode: difference;
    pointer-events: none;
   
    }   
    /* a felső dekorációs sáv testreszabása */ 
    #dec-bottom{
    position: fixed;
    bottom: 3.1vh;
    color: rgba(0, 255, 0, 0.411);
    font-family: VT323;
    left: 0vh;
    mix-blend-mode: difference;
    pointer-events: none;
       
    
    }

    /* az első képernyő hiba csík animació hossza */
    .scan-bar{
        animation: scan 4s infinite;
    }
    /* az első képernyő hiba csík testreszabás */
    .scan{
        height: 40px;
        width: 100%;
        background-color: gray;
        position: absolute;
        top: 0;
        
      
    }
    /* a második képernyő hiba csík animació hossza */
    .scan-bar2{
        animation: scan2 2s infinite;
    }
    /* a második képernyő hiba csík testreszabás */
    .scan2{
        height: 40px;
        width: 100%;
        background-color: seagreen;
        position: absolute;
        top: 0;
        
      
    }
    /* a harmadik képernyő hiba csík animació hossza */
    .scan-bar3{
        animation: scan3 1s infinite;
    }
    /* a harmadik képernyő hiba csík testreszabás */
    .scan3{
        height: 40px;
        width: 100%;
        background-color: green;
        position: absolute;
        top: 0;
        
      
    }
    /* a negyedik képernyő hiba csík animació hossza */
    .scan-bar4{
        animation: scan4 8s infinite;
    }
    /* a negyedik képernyő hiba csík testreszabás */
    .scan4{
        height: 40px;
        width: 100%;
        background-color:blue ;
        position: absolute;
        top: 0;
        
      
    }
    /* az ötödik képernyő hiba csík animació hossza */
    .scan-bar5{
        animation: scan5 12s infinite;
    }
    /* az ötödik képernyő hiba csík testreszabás */
    .scan5{
        height: 40px;
        width: 100%;
        background-color: green;
        position: absolute;
        top: 0;
        
      
    }
    /* a hatodik képernyő hiba csík animació hossza */
    .scan-bar6{
        animation: scan6 20s infinite;
    }
    /* a hatodik képernyő hiba csík testreszabás */
    .scan6{
        height: 80px;
        width: 100%;
        background-color: gray;
        position: absolute;
        top: 0;
        
      
    }
    /* a hetedik képernyő hiba csík animació hossza */
    .scan-bar7{
        animation: scan7 30s infinite;
    }
    /* a hetedik képernyő hiba csík testreszabás */
    .scan7{
        height: 100px;
        width: 100%;
        background-color: blue;
        position: absolute;
        top: 0;
        
      
    }
    /* a nyolcadik képernyő hiba csík animació hossza */
    .scan-bar8{
        animation: scan8 40s infinite;
    }
    /* a nyolcadik képernyő hiba csík testreszabás */
    .scan8{
        height: 130px;
        width: 100%;
        background-color: beige;
        position: absolute;
        top: 0;
        
      
    }
    /* a kilencedik képernyő hiba csík animació hossza */
    .scan-bar9{
        animation: scan9 0.5s infinite;
    }
    /* a kilencedik képernyő hiba csík testreszabás */
    .scan9{
        height: 20px;
        width: 100%;
        background-color: gray;
        position: absolute;
        top: 0;
        
      
    }
    /* a tizedik képernyő hiba csík animació hossza */
    .scan-bar10{
        animation: scan10 0.2s infinite;
    }
    /* a tizedik képernyő hiba csík testreszabás */
    .scan10{
        height: 20px;
        width: 100%;
        background-color: gray;
        position: absolute;
        top: 0;
        
      
    }
    /* a tizenegyedik képernyő hiba csík animació hossza */
    .scan-bar11{
        animation: scan11 0.1s infinite;
    }
    /* a tizenegyedik képernyő hiba csík testreszabás */
    .scan11{
        height: 20px;
        width: 100%;
        background-color: gray;
        position: absolute;
        top: 0;
        
      
    }
    /* kell az első vhs effecthez*/
    @keyframes scan {
    0% {
        transform: translateY(0%);
    }    
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
    }
    /* kell a második vhs effecthez*/
    @keyframes scan2 {
    0% {
        transform: translateY(0%);
    }    
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
    }
    /* kell a harmadik vhs effecthez*/
    @keyframes scan3 {
    0% {
        transform: translateY(0%);
    }    
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
    }
    /* kell a negyedik vhs effecthez*/
    @keyframes scan4 {
    0% {
        transform: translateY(0%);
    }    
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
    }
    /* kell az ötödik vhs effecthez*/
    @keyframes scan5 {
    0% {
        transform: translateY(0%);
    }    
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
    }
    /* kell a hatodik vhs effecthez*/
    @keyframes scan6 {
    0% {
        transform: translateY(0%);
    }    
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
    }
    /* kell a hetedik vhs effecthez*/
    @keyframes scan7 {
    0% {
        transform: translateY(0%);
    }    
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
    }
    /* kell a nyolcadik vhs effecthez*/
    @keyframes scan8 {
    0% {
        transform: translateY(0%);
    }    
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
    }
    /* kell a kilencedik vhs effecthez*/
    @keyframes scan9 {
    0% {
        transform: translateY(0%);
    }    
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
    }
    /* kell a tizedik vhs effecthez*/
    @keyframes scan10 {
    0% {
        transform: translateY(0%);
    }    
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
    }
    /* kell a tizenegyedik vhs effecthez*/
    @keyframes scan11 {
    0% {
        transform: translateY(0%);
    }    
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
    }      

